<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贵贵电影</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/Normal%20flow.css">
    <link rel="stylesheet" href="../static/css/film_play.css">
</head>
<body>
<header class="header">
        <div class="contai">
            <div class="img clearfix">
                <div class="right">
                <img src="../static/img/logo.png" alt="猫眼电影">
                <ul>
                    <a href="./index.html"><li class="color">首页</li></a>
                    <a href="movie.html"><li>电影</li></a>
                    <a href="./cinema.html"><li>影院</li></a>
                    <a href=""><li>演出</li></a>
                    <a href="./list.html"><li>榜单</li></a>
                    <a href="./hotspot.html"><li>热点</li></a>
                    <a href=""><li>商城</li></a>
                </ul>
            </div>

                <div class="left">
                    <div class="app marg1">
                        <img src="../static/img/shouji.png" alt="">
                        <span>APP下载</span>
                    </div>
                    <div class="input marg">
                        <input type="text" value="请输入影视剧">
                        <img src="../static/img/sousuo.png" alt="">
                    </div>
                    <div class="yh">
                        <img src="../static/img/yonghu.png" alt="" onclick="login_click()">
                    </div>
                </div>

            </div>
        </div>

    </header>
<div class="movie_play">
    <div class="play_window">
        <iframe border="0" src="https://dp.1010dy.cc/?url=T2ZUYVZuaHJPb1duWWd3Zlp1R3FOaWhhTW5XZ0ptWW1ZeU9HVmpOamN4TkRFeVptWTVZVEUwTXpWOFl6SXlNamRtT1RBMU56VXdOakEwTTJVNE5EZG1ZakEzT0dWbE5qUTJaREI4TVRZMU5qQTRNakF5TUFIbWFjU0hBMjU2SG1hY1NIQTI1Ng==&amp;next=&amp;id=64577&amp;nid=1&amp;from=uploadixigua" width="100%" height="100%" marginwidth="0" framespacing="0" marginheight="0" frameborder="0" scrolling="no" vspale="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" noresize=""></iframe>
<!--        <video src="" controls preload="none">-->
<!--            <source src="https://www.bilibili.com/video/BV18Y4y1L73R?t=213.3" type="video/mp4">-->
<!--        </video>-->
<!--        <iframe src="https://www.bilibili.com/video/BV18Y4y1L73R?t=213.3" frameborder="0"></iframe>-->
<!--        <iframe class="ql-video" frameborder="0" allowfullscreen="true" src="https://www.yinyueriji.net/square/video/26e59459-66fd-0f60-50ba-c50a16ae5196"></iframe>-->
<!--    <video width="480" height="400" controls>-->
<!--    <source src="https://www.bilibili.com/video/BV16Y4y1G7hp?t=3.1" type="video/mp4">-->
<!--    </video>-->
        </div>
</div>
</body>
</html>